 .u-section-1 {
  background-image: url("images/Untitleddesign2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-shape-1 {
  width: 328px;
  height: 39px;
  margin: 137px auto 0 387px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Anton;
  letter-spacing: 3px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -39px auto 0 417px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 33px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 415px;
  height: 39px;
  margin: 61px auto 0 345px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -40px auto 0 364px;
}

.u-section-1 .u-btn-1 {
  font-family: Anton;
  letter-spacing: 2px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 40px 7px rgba(0,0,0,1);
  margin: 25px auto 0 455px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  font-size: 1rem;
  margin: 72px auto 0 121px;
  padding: 27px 57px 27px 55px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  font-size: 1rem;
  margin: -80px 154px 39px auto;
  padding: 27px 57px 27px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 344px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 162px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -44px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-shape-1 {
    width: 205px;
    height: 32px;
    margin-top: 79px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 262px;
    margin-top: -29px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-shape-2 {
    height: 22px;
    width: 232px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -22px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 13px;
    padding: 8px 14px 8px 12px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 65px;
    margin-left: auto;
    padding: 15px 11px 16px 10px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 39px;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 18px 16px 18px 15px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-2 {
  --color-var: #0a3a7a;
}

.u-section-2 .u-sheet-1 {
  min-height: 805px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  line-height: 0.91;
  letter-spacing: -5px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-text-2 {
  font-family: "Abyssinica SIL";
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 492px 0 0;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -610px 14px 310px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 470px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -890px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 21px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 265px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 358px;
    height: 234px;
    margin-top: -877px;
    margin-right: auto;
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1061px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    letter-spacing: -1px;
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 187px;
  }

  .u-section-2 .u-image-1 {
    height: 142px;
    width: 218px;
    margin-top: -725px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 72px 17px 0 418px;
}

.u-section-3 .u-text-2 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  line-height: 0.91;
  letter-spacing: -5px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -150px auto 0 23px;
}

.u-section-3 .u-image-1 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 134px auto 0 59px;
}

.u-section-3 .u-image-2 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -300px 102px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 388px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -231px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 389px;
    height: 259px;
    margin-top: 236px;
    margin-left: 40px;
  }

  .u-section-3 .u-image-2 {
    width: 425px;
    height: 259px;
    margin-top: -259px;
    margin-right: 26px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -340px;
    margin-left: 182px;
  }

  .u-section-3 .u-image-1 {
    width: 329px;
    height: 219px;
    margin-top: 315px;
    margin-left: 23px;
  }

  .u-section-3 .u-image-2 {
    width: 329px;
    height: 219px;
    margin-top: -219px;
    margin-right: 31px;
    margin-bottom: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 93px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-top: -374px;
    margin-left: 137px;
  }

  .u-section-3 .u-image-1 {
    width: 468px;
    height: 312px;
    margin-top: 343px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 468px;
    height: 312px;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 95px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    letter-spacing: -2px;
    margin-top: -277px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 227px;
    margin-top: 512px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 227px;
    margin-top: -468px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 641px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-family: Anton;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  width: 975px;
  margin: 5px auto 37px;
}

.u-section-4 .u-repeater-1 {
  min-height: 520px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 31px;
}

.u-section-4 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 34.17%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 31px;
}

.u-section-4 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 4.98%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 31px;
}

.u-section-4 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 4.98%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 31px;
}

.u-section-4 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 4.98%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 31px;
}

.u-section-4 .u-image-5 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 36.05%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: -26px;
  width: 40px;
  height: 40px;
  top: 161px;
  background-image: none;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 161px;
  background-image: none;
  right: -20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 253px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 253px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 253px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 253px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 26px;
    margin-bottom: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 302px;
    margin-top: -14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 302px;
    margin-top: -14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 302px;
    margin-top: -14px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 302px;
    margin-top: -14px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 302px;
    margin-top: -14px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 10px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 523px;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 523px;
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.3333333333333333rem;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 523px;
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.3333333333333333rem;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 523px;
    margin-top: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.3333333333333333rem;
    margin-top: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 523px;
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.3333333333333333rem;
    margin-top: 10px;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: -49px;
    top: 301px;
  }

  .u-section-4 .u-gallery-nav-2 {
    top: 301px;
    right: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 321px;
    margin: 22px auto 18px 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    --gap: 5px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 355px;
    width: 318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 355px;
    width: 318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 355px;
    width: 318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 17px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 355px;
    width: 318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 17px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 355px;
    width: 318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 17px;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: 4px;
    top: 182px;
    --radius: 50px;
    padding: 6px;
  }

  .u-section-4 .u-gallery-nav-2 {
    top: 182px;
    --radius: 50px;
    right: 5px;
    padding: 6px;
  }
} .u-section-5 {
  --color-var: #0a3a7a;
}

.u-section-5 .u-sheet-1 {
  min-height: 896px;
}

.u-section-5 .u-text-1 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0;
}

.u-section-5 .u-text-2 {
  font-family: "Abyssinica SIL";
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-list-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  --gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 199px;
  height: 199px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 160px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: Anton;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 199px;
  height: 199px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 160px 0 0;
}

.u-section-5 .u-text-4 {
  font-family: Anton;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 199px;
  height: 199px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 160px 0 0;
}

.u-section-5 .u-text-5 {
  font-family: Anton;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-4 {
  width: 221px;
  height: 221px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 54px 224px 0 auto;
}

.u-section-5 .u-text-6 {
  font-family: Anton;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px 177px 0 auto;
}

.u-section-5 .u-image-5 {
  width: 221px;
  height: 221px;
  margin: -232px auto 0 221px;
}

.u-section-5 .u-text-7 {
  font-family: Anton;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px auto 60px 217px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 12px;
    margin-right: 203px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 156px;
  }

  .u-section-5 .u-image-5 {
    margin-left: 169px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-3 {
    margin-right: -10px;
    margin-left: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-4 {
    margin-right: -10px;
    margin-left: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-5 {
    margin-right: -10px;
    margin-left: 30px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: -8px;
    margin-right: auto;
  }

  .u-section-5 .u-image-5 {
    margin-top: -537px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
    margin-right: 59px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.333333333333333rem;
  }

  .u-section-5 .u-list-1 {
    width: 270px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 810px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    width: 188px;
    height: 188px;
    margin-top: -544px;
    margin-right: 52px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 12px;
    margin-right: -21px;
  }

  .u-section-5 .u-image-5 {
    width: 188px;
    height: 188px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -504px;
    margin-right: 42px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 12px;
    margin-right: 20px;
    margin-left: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 502px;
  }

  .u-section-5 .u-image-1 {
    width: 95px;
    height: 95px;
    margin-right: 121px;
    margin-left: 29px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-5 .u-image-2 {
    width: 95px;
    height: 95px;
    margin-right: 121px;
    margin-left: 29px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-5 .u-image-3 {
    width: 95px;
    height: 95px;
    margin-right: 121px;
    margin-left: 29px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-5 .u-image-4 {
    width: 120px;
    height: 120px;
    margin-top: -37px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-image-5 {
    width: 95px;
    height: 95px;
    margin-top: -355px;
    margin-right: 44px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 148px;
  }
} .u-section-6 {
  min-height: 999px;
}

.u-section-6 .u-text-1 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 173px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -175px auto 0 calc(((100% - 1140px) / 2)  + 111px);
}

.u-section-6 .u-text-3 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -18px auto 0 calc(((100% - 1140px) / 2)  + 5px);
}

.u-section-6 .u-text-4 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -154px 692px 0 calc(((100% - 1140px) / 2)  + 397px);
}

.u-section-6 .u-text-5 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -18px 625px 0 calc(((100% - 1140px) / 2)  + 312px);
}

.u-section-6 .u-text-6 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -155px 142px 0 calc(((100% - 1140px) / 2)  + 967px);
}

.u-section-6 .u-text-7 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -18px 61px 0 calc(((100% - 1140px) / 2)  + 877px);
}

.u-section-6 .u-text-8 {
  font-family: Anton;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -154px 461px 0 calc(((100% - 1140px) / 2)  + 699px);
}

.u-section-6 .u-text-9 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -16px 425px 0 calc(((100% - 1140px) / 2)  + 663px);
}

.u-section-6 .u-image-1 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px calc(((100% - 1140px) / 2)  + 120px) 0 auto;
}

.u-section-6 .u-image-2 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -300px auto 0 calc(((100% - 1140px) / 2)  + 94px);
}

.u-section-6 .u-image-3 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0 calc(((100% - 1140px) / 2)  + 94px);
}

.u-section-6 .u-image-4 {
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -300px calc(((100% - 1140px) / 2)  + 120px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -174px;
    margin-left: calc(((100% - 940px) / 2)  + 94px);
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -19px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 369px);
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -19px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 283px);
  }

  .u-section-6 .u-text-6 {
    margin-top: -154px;
    margin-left: calc(((100% - 940px) / 2)  + 797px);
  }

  .u-section-6 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 723px);
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: -155px;
    margin-right: 349px;
    margin-left: calc(((100% - 940px) / 2)  + 611px);
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: -19px;
    margin-right: 313px;
    margin-left: calc(((100% - 940px) / 2)  + 575px);
  }

  .u-section-6 .u-image-1 {
    margin-top: 44px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-2 {
    margin-top: -313px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-3 {
    margin-top: 35px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 782px;
  }

  .u-section-6 .u-shape-1 {
    height: 115px;
    margin-top: -10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -115px;
    margin-left: calc(((100% - 720px) / 2)  + 52px);
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -14px;
    margin-left: calc(((100% - 720px) / 2)  + -29px);
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -100px;
    margin-left: calc(((100% - 720px) / 2)  + 241px);
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -11px;
    margin-left: calc(((100% - 720px) / 2)  + 184px);
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -104px;
    margin-right: 98px;
    margin-left: calc(((100% - 720px) / 2)  + 624px);
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -15px;
    margin-right: 32px;
    margin-left: calc(((100% - 720px) / 2)  + 558px);
  }

  .u-section-6 .u-text-8 {
    font-size: 2.25rem;
    margin-top: -101px;
    margin-right: 293px;
    margin-left: calc(((100% - 720px) / 2)  + 460px);
  }

  .u-section-6 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -13px;
    margin-right: 263px;
    margin-left: calc(((100% - 720px) / 2)  + 431px);
  }

  .u-section-6 .u-image-1 {
    width: 392px;
    height: 243px;
    margin-top: 26px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-6 .u-image-2 {
    width: 392px;
    height: 243px;
    margin-top: -243px;
    margin-left: calc(((100% - 720px) / 2)  + -42px);
  }

  .u-section-6 .u-image-3 {
    width: 389px;
    height: 260px;
    margin-top: 28px;
    margin-left: calc(((100% - 720px) / 2)  + -41px);
  }

  .u-section-6 .u-image-4 {
    width: 392px;
    height: 261px;
    margin-top: -260px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1380px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.333333333333333rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 29px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2rem;
    margin-left: calc(((100% - 540px) / 2)  + 20px);
  }

  .u-section-6 .u-text-3 {
    font-size: 2rem;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 2rem;
    margin-top: -103px;
    margin-left: calc(((100% - 540px) / 2)  + 183px);
  }

  .u-section-6 .u-text-5 {
    font-size: 2rem;
    margin-top: 1px;
    margin-left: calc(((100% - 540px) / 2)  + 125px);
  }

  .u-section-6 .u-text-6 {
    font-size: 2rem;
    margin-top: -103px;
    margin-right: 70px;
    margin-left: calc(((100% - 540px) / 2)  + 478px);
  }

  .u-section-6 .u-text-7 {
    font-size: 2rem;
    margin-top: 1px;
    margin-right: 23px;
    margin-left: calc(((100% - 540px) / 2)  + 407px);
  }

  .u-section-6 .u-text-8 {
    font-size: 2rem;
    margin-top: -103px;
    margin-right: 226px;
    margin-left: calc(((100% - 540px) / 2)  + 349px);
  }

  .u-section-6 .u-text-9 {
    font-size: 2rem;
    margin-top: 1px;
    margin-right: 199px;
    margin-left: calc(((100% - 540px) / 2)  + 322px);
  }

  .u-section-6 .u-image-1 {
    margin-top: 311px;
    margin-right: calc(((100% - 540px) / 2)  + 64px);
  }

  .u-section-6 .u-image-2 {
    margin-top: -514px;
    margin-right: calc(((100% - 540px) / 2)  + 64px);
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: 564px;
    margin-right: calc(((100% - 540px) / 2)  + 64px);
    margin-left: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: -537px;
    margin-right: calc(((100% - 540px) / 2)  + 64px);
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1422px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-6 .u-shape-1 {
    height: 329px;
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: -311px;
    margin-left: calc(((100% - 340px) / 2)  + 31px);
  }

  .u-section-6 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-6 .u-text-4 {
    margin-top: -94px;
    margin-right: 92px;
    margin-left: calc(((100% - 340px) / 2)  + 244px);
  }

  .u-section-6 .u-text-5 {
    margin-top: -9px;
    margin-right: 36px;
    margin-left: calc(((100% - 340px) / 2)  + 185px);
  }

  .u-section-6 .u-text-6 {
    margin-top: 48px;
    margin-right: 103px;
    margin-left: calc(((100% - 340px) / 2)  + 243px);
  }

  .u-section-6 .u-text-7 {
    margin-right: 50px;
    margin-left: calc(((100% - 340px) / 2)  + 180px);
  }

  .u-section-6 .u-text-8 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 30px);
  }

  .u-section-6 .u-text-9 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 211px;
    margin-top: 319px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 211px;
    margin-top: -455px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 227px;
    margin-top: 269px;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 226px;
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 57px;
  }
}